{% extends 'include/base.html' %}
{% load static %}
{% load humanize %}
{% block content %} 
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ todos_count }}</h3>

                <p>All Tasks</p>
              </div>
              <div class="icon">
                <i class="fa fa-check"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ not_complete_count }}</h3>

                <p>Not Processed</p>
              </div>
              <div class="icon">
                <i class="fa fa-check"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{email_digests_count}}</h3>

                <p>Email Digest</p>
              </div>
              <div class="icon">
                <i class="ion ion-email"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-12 connectedSortable">
            <!-- TO DO List -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="ion ion-clipboard mr-1"></i>
                  To Do List
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <ul class="todo-list" data-widget="todo-list">
                  {% for rec in todos %}
                  <li>
                    <!-- todo text -->
                    <span class="text">{{ rec.title }}</span>
                    <!-- Emphasis label -->
                    <small class="badge badge-success"><i class="far fa-clock"></i> {{ rec.due_date|naturaltime}}</small>
                    <!-- General tools such as edit or delete-->
                    <div class="tools">
                      <a href="{% url 'apps.ui:deletetask' rec.id %}"><i class="fas fa-trash"></i></a>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <a href ="{% url 'apps.ui:addtask' %}" class="btn btn-primary float-right"><i class="fas fa-plus"></i> Add item</a>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="ion ion-email mr-1"></i>
                  Email Digest
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <ul class="todo-list" data-widget="todo-list">
                  {% for rec in email_digests %}
                  <li>
                    <!-- todo text -->
                    <span class="text"><a href="{% url 'apps.ui:readmail' rec.id %}">{{ rec.summary|truncatechars:50 }}</a></span>
                    <!-- Emphasis label -->
                    <small class="badge badge-danger"><i class="far fa-clock"></i> {{ rec.created_at|naturaltime}}</small>
                    <!-- General tools such as edit or delete-->
                    <div class="tools">
                      <a href="{% url 'apps.ui:deletemail' rec.id %}"><i class="fas fa-trash"></i></a>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <!-- /.card -->
          </section>
          <!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  {% endblock %}
