{% extends 'include/base.html' %}
{% load static %}
{% load humanize %}
{% block content %} 

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Compose</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Task Details</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <a href="{% url 'apps.ui:tasks' %}" class="btn btn-primary btn-block mb-3">Back to Tasks</a>
              
          </div>
          <!-- /.col -->
        <div class="col-md-9">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title">Task Details</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="mailbox-read-info">
                  <span class="mailbox-read-time float-right">{{task.created_at|naturaltime}}</span></h6>
              </div>
              <div class="mailbox-read-message">
                <textarea id="summernote" readonly>
                    <p><strong>Title:</strong> {{task.title}}</p>
                    <p><strong>Category:</strong> {{task.category.name}}</p>
                    <p><strong>Priority:</strong> {{task.category.name}}</p>
                    <p><strong>Completed:</strong> {{task.completed}}</p>
                    <p><strong>Added To Calendar:</strong> {{task.added_to_calendar}}</p>
                    <p><strong>due_date:</strong> {{task.due_date}}</p>
                    <p><strong>Created At:</strong> {{task.created_at}}</p>
                    <p><strong>Content:</strong> {{task.content|safe}}</p>
                </textarea>
              </div>
              <!-- /.mailbox-read-message -->
            </div>
            <!-- /.card-footer -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  {% endblock %}
  {% block pageleveljs %}
    <script>
      $(function () {
        // Summernote
        $('#summernote').summernote({
          oninit: function() {
              $("div.note-editor button[data-event='codeview']").click();
          }
        });
        $('#summernote').next().find(".note-editable").attr("contenteditable", false);
      })
    </script>
  {% endblock %}